<p>
    Bjarte Aune Olsen &ndash; <a href="mailto:bjarte@auneolsen.no">bjarte@auneolsen.no</a> &ndash; <a href="https://www.hvemder.no">Hvem der?</a>
    &ndash; <a href="https://www.novacare.no">Novacare</a>
</p>