@{
    var utcNow = DateTime.UtcNow;
}

<p>
    Bjarte Aune Olsen &ndash; <a href="mailto:bjarte@auneolsen.no">bjarte@auneolsen.no</a> &ndash; <a
        href="https://www.hvemder.no">Hvem der?</a>
    &ndash; <a href="https://www.novacare.no">Novacare</a>
</p>

<environment include="Development">
    <p>Environment: Development</p>
    <p>Page cached: @utcNow.ToString("yyyy-MM-dd HH:mm:ss") UTC</p>
</environment>
<environment include="Staging">
    <p>Environment: Staging</p>
    <p>Page cached: @utcNow.ToString("yyyy-MM-dd HH:mm:ss") UTC</p>
</environment>
<environment include="Production">
    <!-- Environment: Production -->
    <!-- Page cached: @utcNow.ToString("yyyy-MM-dd HH:mm:ss") UTC -->
</environment>