@model BasePageModel
<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="~/Pages/Shared/_Meta.cshtml" />
</head>

<body>

    <div class="container">

        <nav>
            <partial name="~/Pages/Shared/_Navigation.cshtml" />
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            <partial name="~/Pages/Shared/_Footer.cshtml" />
        </footer>

    </div>

    <script src="~/lib/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

</body>
</html>
