@model BasePageModel
<!DOCTYPE html>
<html lang="en">
<head>

    <partial name="~/Pages/Shared/_Meta.cshtml" />

    @{
        var title = "A programmer's notebook";
        if (!string.IsNullOrEmpty(Model?.Title))
        {
            title = $"{Model.Title} – {title}";
        }
    }
    <title>@title</title>

</head>
<body>

    <div class="container">
        
        <environment include="Development">
            <p style="text-align: center">Environment: Development</p>
        </environment>
        <environment include="Staging">
            <p style="text-align: center">Environment: Staging</p>
        </environment>
        <environment include="Production">
            <!-- Environment: Production -->
        </environment>

        <nav>
            <partial name="~/Pages/Shared/_Navigation.cshtml" />
        </nav>

        <main>
            @RenderBody()
        </main>

        <footer>
            <partial name="~/Pages/Shared/_Footer.cshtml" />
        </footer>

    </div>

    <script src="~/lib/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

</body>
</html>