@model string

@if (string.IsNullOrWhiteSpace(Model))
{
    return;
}

<div data-tf-widget="@Model" data-tf-iframe-props="title=My first typeform" data-tf-medium="snippet" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>