@model ImageViewModel

@if (Model == null)
{
    return;
}

@if (!string.IsNullOrEmpty(Model.LinkUrl))
{
    <a href="@Model.LinkUrl">
        <partial name="~/Pages/Partials/_Figure.cshtml" model="@Model" />
    </a>
}
else
{
    <partial name="~/Pages/Partials/_Figure.cshtml" model="@Model" />
}