<environment include="Development">
    <p>Environment: Development</p>
</environment>
<environment include="Staging">
    <p>Environment: Staging</p>
</environment>
<environment include="Production">
    Environment: Production
</environment>

<p>When was this page cached? @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</p>
