@model BasePageModel

<nav>
    <ul>
        <li><a href="/">Home</a></li>

        @foreach (var link in Model?.Navigation?.Links.Where(_ => !string.IsNullOrEmpty(_.Title)) ?? new List<LinkViewModel>())
        {
            <li>
                @if (!string.IsNullOrEmpty(link.Url))
                {
                    <a href="@link.Url">@link.Title</a>
                }
                else
                {
                    @link.Title
                }
            </li>
        }
    </ul>
</nav>