/* Colours */
body {
  background-color: #fcf6f0;
  color: #0d1e27;
}

a {
  color: #206186;
}

a:hover {
  color: #524f4c;
}

/* Colours for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111a1f;
    color: #fcf6f0;
  }

  a {
    color: #ffdfb1;
  }

  a:hover {
    color: #82c7ec;
  }
}

/* Layout */
.container {
  margin: 5em auto 0 auto;
  width: 100%;
  max-width: 1200px;
}

.page {
  padding-top: 2em;
}

@media (min-width: 1200px) {
  .front-page {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 300px;
    grid-column-gap: 2em;
  }

  .page {
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr) 200px;
    grid-column-gap: 2em;
  }
}

@media (max-width: 1200px) {
  .container {
    margin: 0;
  }

  aside {
    margin-top: 5em;
  }
}

footer {
  margin: 5em auto 2em auto;
  text-align: center;
}

/* Typography */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  font-weight: normal;
}

h1 {
  font-size: 3em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

nav {
  font-size: 1.5em;
}

@media (max-width: 600px) {
  nav {
    font-size: 1em;
  }
}

.intro {
  font-size: 1.5em;
}

/* Navigation */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  padding-right: 1em;
}

/* Blog Posts */

@media (min-width: 600px) {
  .blogpost-list-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 2em;
  }
}

.blogpost-list-item {
  padding-bottom: 2em;
}

/* Categories */

.category-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

@media (min-width: 600px) {
  .category-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

.category-list a {
  border: solid 3px;
  border-radius: 25px;
  text-decoration: none;
}

.category-list-item {
  text-align: center;
  line-height: 3em;
}

/* Components */
.published,
.categories {
  padding: 1em 0;
  text-align: right;
  font-size: smaller;
}

.intro {
  margin-top: 0;
}

pre code.hljs {
  overflow-x: hidden;
}

code {
  text-overflow: ellipsis;
}

/* Images */
body img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

picture {
  padding: 0;
  margin: 0;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0;
}

/* Cusdis comments */
#cusdis_thread iframe {
    height: 2000px;
}